/* css Reset */
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image*/
#logo{
    margin: 5px 5px;
}

#logo img{
    height: 50px;
    width: 50px;
    margin: 4px 6px;
}

/* Navigation Bar: List Styling*/
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style:none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

/* #navbar1{
    position: relative;
}

#navbar1 ul{
    display: flex;
}
*/
#navbar1 ul li{
    list-style:none;
    font-size: 1.3rem;
} 

#navbar1 ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: right;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../FP/bg\ img\ 2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    padding: 15px;
}

#home p{
    color: white;
    text-align: center;
    
}
/* Utility Classes */
.h-primary{
    font-size: 3.8 rem;
    padding: 20px;
    

}
